<h2><%=@user.username%>'s Reviews</h2>

<% if @user.id == Helpers.current_user(session).id %>
<a href="/reviews/new"><input type="submit" value="Create a new review"></a>
<%end%>
<a href="/reviews"><input type="submit" value="Return to main page"></a>

<hr>
<% @user.reviews.each do |review| %>
  <h3> <%=review.product.name %> </h3>
  <p> <%=review.content%> </p>
  <a href="/reviews/<%=review.id%>"><input type="submit" value="View review"></a>
  <% if review.user_id == Helpers.current_user(session).id %>
    <a href="/review/<%=review.id%>/edit"><input type="submit" value="Edit review"></a>
    <a href="/review/<%=review.id%>/delete"><input type="submit" value="Delete review"></a>
    <%end%>
  <hr>
<% end %>