<h1>Product Reviews</h1>
<h2>Welcome, <%=Helpers.current_user(session).username%>!</h2>
<a href="/reviews/new"><input type="submit" value="Add a new product review"></a>
<a href="/users/<%=Helpers.current_user(session).slug%>"><input type="submit" value="View your past reviews"></a>
<a href="/users"><input type="submit" value="View list of users"></a>
<a href="/products"><input type="submit" value="View list of products"></a>
<br></br>
<a href="/logout"><input type="submit" value="Log Out"></a>

<h2>All users' reviews:</h2>
<hr>
<% @reviews.each do |review| %>
  <h3>  <%= review.content %> </h3>
  <h4>review of <a href="/products/<%=review.product.slug%>"><%= review.product.name %></h4></a>
  <p>by: <a href="/users/<%=review.user.slug%>"><%= review.user.username %></p>
  <a href="/reviews/<%=review.id%>"><input type="submit" value="View review"></a>
  <hr>
<%end%>
